* {
    box-sizing: border-box;
    font-family: sans-serif;
}

#box {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    font-family: serif;
    border-bottom: 1px solid #a2a9b1;
    font-weight: normal;
    overflow: hidden;
}

h1 {
    margin-bottom: .2em;
}

ul {
    overflow: hidden;
    line-height: 1.3;

    list-style: none;

    columns: 170px 4;
}

#myself {
    text-align: center;
    width: 250px;

    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;

    margin: 0.5em 1em 0.5em 0;
    padding: 0.2em;
    float: left;
    clear: left;
    font-size: 120%;
}

#myself img {
    max-width: 100%;
}

p {
    font-size: 1.15em;
    line-height: 1.7;
}