* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Create a "box", which its maximum width will be 1200px, around the 
whole content, including images and the actual text, in order to prevent 
the content from expanding all the way to the right/left. */
#box {
    max-width: 1200px;
    margin: 0 auto;
}

/* For all contents inside "h1" and "h2", change their font to "serif 
and create a bottom line under these contents with a 1 pixel solid 
line. In order to avoid the bottom line going into the image, "overflow: 
hidden" will hide the part that will be cover up by the image. */
h1, h2 {
    font-family: serif;
    border-bottom: 1px solid #a2a9b1;
    font-weight: normal;
    overflow: hidden;
}

/* For all contents inside "h1", they will be 0.2em away from the bottom 
line that is created from previous code */
h1 {
    margin-bottom: .2em;
}

/* This part of css will prevent every link inside the unordered list from
overflows the image. Then it will change the space between each link to be 1.3.
In addition, the point in front of each list will be removed and the whole list
will be divided into 4 columns with each columns has width as 170px. */
ul {
    overflow: hidden;
    line-height: 1.3;

    list-style: none;

    font-size: 130%;
    columns: 300px 4;
}

/* This part of code is for the photo. It is complicated and I still confused 
with some of them sometimes, so I will explain each one individually. */
#myself {
    /* First two lines of codes will set my name in the middle of the "box" that
    surrond the photot section, and the width of this "box" will be 250px. */
    text-align: center;
    width: 250px;

    /* After create the "box", the following code will create a border around the
    box with 1px solid black line, and set the space between this border and the content
    inside the "box" to be 3px. */
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;

    /* This will change the space between the box and left-hand content to 1em, and the 
    space between the box and upper-hand content to be 0.5em. Then the whole box will be
    move to the left side of the whole content box, whihc is created by previous "#box". */
    margin: 0.5em 1em 0.5em 0;
    padding: 0.2em;
    float: left;
    clear: left;
    font-family: : serif;
    font-size: 120%;
}

/* This is will set the maximum width of the photo inside the "#myself" box to be 100%.*/
#myself img {
    max-width: 100%;
}

/* This is will make the text size to be 1.15em and change the space between each line 
to be 1.7. */
p {
    font-size: 130%;
    line-height: 1.7;
}